<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a id="menu-toggle" href="#" class="navbar-toggle">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="navbar-brand back--arrow" (click)="goBack()">🡰</a>
    </div>
    <div id="sidebar-wrapper" class="sidebar-toggle">
      <ul class="sidebar-nav">
        <li>
          <a [routerLink]="[{ outlets: { manage_trip: ['expense'] } }]">Add Expenses</a>
        </li>
        <li>
          <a routerLink="/travellers">Manage Travellers</a>
        </li>
        <li>
          <a routerLink="/report">Trip Report</a>
        </li>
        <li></li>
        <li></li>
        <li><a  class="remove__option" (click)="removeTrip(tripId)">Remove Trip</a></li>
      </ul>
    </div>
  </div>
</nav>

<script>
  $(window).resize(function() {
    var path = $(this);
    var contW = path.width();
    if(contW >= 751){
      document.getElementsByClassName("sidebar-toggle")[0].style.left="200px";
    }else{
      document.getElementsByClassName("sidebar-toggle")[0].style.left="-200px";
    }
  });
  $(document).ready(function() {
    $('.dropdown').on('show.bs.dropdown', function(e){
      $(this).find('.dropdown-menu').first().stop(true, true).slideDown(300);
    });
    $('.dropdown').on('hide.bs.dropdown', function(e){
      $(this).find('.dropdown-menu').first().stop(true, true).slideUp(300);
    });
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      var elem = document.getElementById("sidebar-wrapper");
      left = window.getComputedStyle(elem,null).getPropertyValue("left");
      if(left == "200px"){
        document.getElementsByClassName("sidebar-toggle")[0].style.left="-200px";
      }
      else if(left == "-200px"){
        document.getElementsByClassName("sidebar-toggle")[0].style.left="200px";
      }
    });
  });
</script>
