<!--Add expense button-->
<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
  </div>
  <div class="modal-body">
    <!-- Form Start -->
    <form role="form" [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-group row" id="member_list">
        <label for="trip-member" class="col-sm-2 col-form-label">Category</label>
        <div class="col-md-10" id="trip-member">
          <select name="expense_category" required class="form-control" id="expense_category">
            <option value="1">Food</option>
            <option value="2">Travel</option>
            <option value="3">Entertainment</option>
            <option value="4">Misc</option>
          </select>
          <div id="checkbox_error_message" class="text-danger"></div>
        </div>

      </div>
      <div class="form-group row">
        <label for="expense_name" class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="expense_name" placeholder="Dinner" required
                 autofocus name="expense_name" maxlength="45"/>
        </div>
      </div>
      <div class="form-group row">
        <label for="expense_date" class="col-sm-2 col-form-label">Date</label>
        <div class="col-sm-10">
          <input type="date" class="form-control" id="expense_date"
                 placeholder="Select Trip Starting Date" required name="expense_date"
                 aria-valuemin="<?=$start_date ?>" aria-valuemax="<?=$end_date ?>">
          <h6 id="dateErrorMessage" class="text-danger small" style="font-size: 1.2rem"></h6>
        </div>
      </div>
      <div class="form-group row">
        <label for="expense_amount" class="col-sm-2 col-form-label">Amount</label>
        <div class="col-sm-10">
          <input type="number" class="form-control" id="expense_amount" placeholder="2000"
                 required name="expense_amount">
          <h6 id="amount_error" class="text-danger small"></h6>
        </div>
      </div>

      <button type="submit" class="btn btn-primary pull-right" id="add-expense-btn">
        Add Expense
      </button>
    </form>
    <!--Form End-->
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default " data-dismiss="modal">Close</button>
  </div>
</div><!--    End of expense modal-->


<!--post form -->

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

<script type="text/javascript">

  $('#alert_message').modal('show')

  setTimeout(function () {
    $('#alert_message').modal('hide')
  }, 3000)

</script>
