div.status {
  border: 1px dotted grey;
  width: 100%;
  margin: 25px 0 0 0;
  color: deepskyblue;
}

.add {
  border-radius: 25px;
  background-color: dodgerblue;
  color: #ffffff;
  margin: 3px;
  padding: 0 3px 2px 5px;
}
